* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: Arial, sans-serif;
  background-color: rgba(244, 242, 242, 0.902);
  justify-content: center;
  display: flex;
  padding: 40px;
  flex: 1;

  /* width: 570px; */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  color: rgb(52, 51, 51);
}

.container {
  background-color: rgb(255, 255, 255);
  margin: 80px;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
}

.taskInput {
  justify-content: center;
  display: flex;
  margin-bottom: 15px;
}
.taskInput input {
  flex: 1;
  padding: 8px;
}
.addTask {
  background-color: rgba(14, 164, 14, 0.639);
  border-radius: 5px;
  color: white;
  padding: 8px;
  margin-left: 10px;
  border: none;
}

.threeButtons {
  padding: 10px;
  border: none;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

button {
  padding: 5px;
  border-radius: 5px;
  /* margin-right: 90px; */
  border: none;
  /* background-color: rgb(229, 228, 228); */
}

button:hover{
  box-shadow: 0 4px 12px rgb(103, 103, 103);
}

.tasks {
  margin-left: 160px;
}


.deleteBtn{
  background-color: rgb(147, 9, 9);
  color: #ffffffee;
}

.taskList{
 background-color: rgb(133, 9, 250);
}

.btn-group{
  display: flex;
  gap: 8px;
  flex-shrink: 0;
}

.task-text{
  flex: 1;
}

#allBtn{
  background-color: rgb(121, 154, 230);
  color: #ffffffee;
}

#completedBtn{
  background-color: rgb(170, 207, 133);
  color: #ffffffee;
}

#pendingBtn{
  background-color: rgb(229, 141, 78);
  color: #ffffffee;
}

#taskCounter{
  text-align: center;
}



ul{
  list-style: none;
  margin-bottom: 15px;
}

li{
  padding: 8px;
  border-bottom: 1px solid #eeee;
  display: flex ;
  justify-content: space-between;
  align-items: center;

}

li.completed{
  color: green;
}

#clearAllBtn {
  background-color: rgb(180, 0, 0);
  color: white;
  margin-left: 10px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

/* task= change colour of 3 buttons */
/* PUSH AND SEND EMAIL */