body{
  font-family: Arial, sans-serif; 
    background-color: rgba(244, 242, 242, 0.902);
    justify-content: center;
    display: flex;
    width: 570px;
    
}

h1{
    text-align: center;
}

.container{
    background-color: rgb(255, 255, 255);
    margin: 80px;
    border-radius: 10px;
    padding: 20px;
    width: 400px;

}

.addTask{
    background-color: rgba(14, 164, 14, 0.639);
    outline-color: rgba(14, 164, 14, 0.639);
    border-radius: 5px;
    color: white;
    padding: 5px;
    justify-content: center;
    margin-left: 10px;

}

.taskInput{
justify-content: center;
margin-right: 20px;
display: flex;
}

.threeButtons{
    padding: 10px;

}

button{
    padding: 3px;
    border-radius: 5px;
    margin-right: 60px;
}

.placeholder{
margin-left: 10px;
}

.tasks{
    margin-left: 160px;
}